<div class="container">
	<section id="content" class="frontMargin">
	    <h2>We are live and hot on port 3003!</h2>	
        <h3>This Development environment contains</h3>
        <ul>
            <li>MongoDB for database with Moongoose ORM</li>
            <li>Express for easy API creation</li>
            <li>Angular for frontend</li>
            <li>Node for our sweet JS server</li>
        </ul>

        <h3>NPM && Bower install</h3>
        <h3>Be sure to run MongoDB before starting server</h3>
	</section>
</div>